<h1>All messages</h1>

<%= link_to "Create new message",  new_message_url %>

<% for message in @messages %>
 <p>
   <i><%= message.user.try(:email) %></i> 
   <b><%= time_ago_in_words message.created_at %> ago:</b>
    <%= link_to message.message_text, message_path(message) %></p>
<% end %>
